*{
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: red;
    border-bottom: 2px solid #ddd;
  }
  
  .ime, .tema {
    flex: 1;
    text-align: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .ime {
    text-align: left;
    font-size: 24px;
    font-weight: bold;
    color: white;
  }
  
  .grbic {
    flex: 0;
    text-align: center;
    
  }
  
  .grbic img {
    max-width: 100px; 
    height: auto;
   
  }
  
  .tema {
    text-align: right;
    font-size: 20px;
    font-weight: bold;
  }
  .glavna {
    padding: 20px;
    background-color: white;
    color: #333;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    
    
  }
  
  .glavna h1 {
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
    
  }
  
  .glavna p {
    font-size: 22px;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: center;
  }
  .torcida-slika {
    display: block;
    margin: 20px auto; 
    max-width: 100%; 
    height: auto; 
   
  }
  
  

.slike {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.igraci {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: 300px;
    margin-right: 300px;
  }
  
  .igraci img {
    max-width: calc(100% / 1 - 20px); 
    height: 350px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
.igraci img:hover {
  transform: scale(1.05); 
}
.igraci p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
}
.Footer {
    background-color: blue;
    color: #fff;
    text-align: center;
    padding: 60px;
  }
  .torcida-slika:hover {
    transform: scale(1.05); 
    transition: transform 0.3s ease; 
  }
  .torcida-container {
    max-width: 1250px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .torcida-heading {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .torcida-content {
    display: flex;
    align-items: center;
  }
  
  .torcida-img {
    width: 100%;
    max-width: 550px;
    margin-right: 20px;
    height: 420px;
  }
  
  .torcida-info {
    width: 100%;
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .torcida-info p {
    margin-bottom: 15px;
  }
  .torcida-container h1{
    text-align: center;
    margin-top: 40px;
  }
  .video {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  iframe {
    width: 100%;
    max-width: 650px;
    height: 400px;
    border: none;
  }
  .Vukas-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  .Vukas h1 {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .Vukas-sadrzaj {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }
  
  .Vukas-slika {
    width: 450px;
    height: auto;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .Vukas-tablica {
    width: 100%;
    max-width: 600px;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .Vukas-talica th,
  .Vukas-tablica td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .Vukas-tablica th {
    background-color: #f2f2f2;
    text-align: center;
    font-size: 30px;
  }
  
  .Vukas-tablica td {
    text-align: center;
    font-size: 22px;
  }
  
  .Vukas-tablica tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .Vukas-tablica tr:hover {
    background-color: #f1f1f1;
  }
  .biografija {
    margin-top: 20px;
    text-align: left;
  }
  
  .biografija h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .biografija p,
  .biografija ul {
    margin-bottom: 15px;
    text-align: justify;
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .biografija ul {
    list-style-type: disc;
    padding-left: 20px;
  }
  .Beara-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  .Beara h1 {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .beara-sadrzaj {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .beara-slika {
    width: 450px;
    height: auto;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .beara-tablica {
    width: 100%;
    max-width: 600px;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .beara-tablica th,
  .beara-tablica td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .beara-tablica th {
    background-color: #f2f2f2;
    text-align: center;
    font-size: 30px;
}
  
  .beara-tablica td {
    text-align: center;
    font-size: 22px;
  }
  
  .beara-tablica tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .beara-tablica tr:hover {
    background-color: #f1f1f1;
  }
  
  .biografija1 {
    margin-top: 20px;
    text-align: left;
  }
  
  .biografija1 h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .biografija1 p,
  .biografija1 ul {
    margin-bottom: 15px;
    text-align: justify;
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .biografija1 ul {
    list-style-type: disc;
    padding-left: 20px;
  }
  .matosic-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  .Matosic h1 {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .matosic-sadrzaj {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .matosic-slika {
    width: 300px;
    height: auto;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .matosic-tablica {
    width: 100%;
    max-width: 600px;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .matosic-tablica th,
  .matosic-tablica td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .matosic-tablica th {
    background-color: #f2f2f2;
    text-align: center;
    font-size: 30px;
  }
  
  .matosic-tablica td {
    text-align: center;
    font-size: 22px;
  }
  
  .matosic-tablica tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .matosic-tablica tr:hover {
    background-color: #f1f1f1;
  }
  
  .biografija2 {
    margin-top: 20px;
    text-align: left;
  }
  
  .biografija2 h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .biografija2 p,
  .biografija2 ul {
    margin-bottom: 15px;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
  }
  
  .biografija2 ul {
    list-style-type: disc;
    padding-left: 20px;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  